<!DOCTYPE html>
<html>
<head>
	<title>HTML, CSS and JavaScript demo</title>
	<link href="/css/testes/testes.css" rel="stylesheet">
	<script src="/framework/bootstrap/js/bootstrap.min.js"></script>
	<script src="/webjars/jquery/4.0.0/jquery.min.js"></script>
	<link rel="stylesheet" href="/framework/bootstrap/css/bootstrap.min.css"></link>
</head>
<ul id="mensagem-erro" ></ul>
<body>
	<div class="div-mestre">
		<p class="lw" id="hw">Sistema de IMC</p>
		<form id="formulario">
			<div>
				<label id="label-nome"> Nome: </label>
				<input type="text" name="nome"/>		
			</div>
			<div>
				<label id="label-peso">Peso</label>
				<input type="text" name="peso"/>
				<label id="label-altura">Altura</label>
				<input type="text" name="altura"/>
				<label>Gordura</label>
				<input type="text" name="gordura"/>
			</div>
			<div>
				<input type="submit" value="gravar" id="botaoSalvar"/>
			</div>
		</form>
		<th/>
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Peso</th>
					<th>Altura</th>
					<th>Gordura</th>
					<th>IMC</th>
					<td> </td>
				</tr>
			</thead>
			<tbody class="table-body">
<!-- 				<tr class="paciente"> -->
<!-- 					<td class="info-nome">Paulo</td> -->
<!-- 					<td class="info-peso">100</td> -->
<!-- 					<td class="info-altura">2.0</td> -->
<!-- 					<td class="info-gordura">10</td> -->
<!-- 					<td class="info-imc">0</td> -->
<!-- 					<td class="delete"><button class="delete">x</button> </td> -->
<!-- 				</tr> -->
<!-- 				<tr class="paciente"> -->
<!-- 					<td class="info-nome">João</td> -->
<!-- 					<td class="info-peso">100</td> -->
<!-- 					<td class="info-altura">2.0</td> -->
<!-- 					<td class="info-gordura">10</td> -->
<!-- 					<td class="info-imc">0</td> -->
<!-- 					<td class="delete"><button class="delete">x</button> </td> -->
<!-- 				</tr> -->
<!-- 				<tr class="paciente"> -->
<!-- 					<td class="info-nome">Fernando</td> -->
<!-- 					<td class="info-peso">100</td> -->
<!-- 					<td class="info-altura">2.0</td> -->
<!-- 					<td class="info-gordura">10</td> -->
<!-- 					<td class="info-imc">0</td> -->
<!-- 					<td class="delete"><button class="delete">x</button> </td> -->
				</tr>
			</tbody>
		</table>
	</div>
	<script src="/javascript/testes/deletarLinhasTabela.js" type="text/javascript"></script>
	<script src="/javascript/testes/gerarIMC.js" type="text/javascript"></script>
	<script src="/javascript/testes/geradorElementos.js" type="text/javascript"></script>
	<script src="/javascript/testes/validadorDadosTabela.js" type="text/javascript"></script>
	<script src="/javascript/testes/principal.js" type="text/javascript"></script>
</body>
</html>